  *{
    padding:0;
    border-sizing:box-border;
    height: 1;
  }
  body{
    background:#0e0e0e;
    margin:100px;
    width:5O%;
    font-family : Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 13px;
      -webkit-font-smoothing: antialiased;
  }
  main{
    background-color:white;
    margin:auto;
    padding:100px;
    display:flex;
    width:80%;
    height:50vh;
    align-items:center;
  }
  .container1{
    background:DarkOrange;
    padding:3%;
    margin:center;
    border-radius:3px;
    color:white;

  }
  .container2{
    background:teal;
    padding:3%;
    margin:center;
    color:white; 
  }
  .container3{
    background:#084343;
    padding:3%;
    margin:center;
    heigth:100%;
    border-radius:3px;
    color:white;
  }
  button{
    padding: 10px 24px;
    border-radius:12px;
    border:none;
    text: inline;
    
  }
  .button1{
    color:white;
    font-size: 13px; 
    background: transparent;
    border: solid white;
  }
  .button2{
    color: white;
    font-size: 13px; 
    background: transparent;
    border: solid white;
  }
  .button3{
    color:white;
    font-size: 13px; 
    background: transparent;
    border: solid white;
  }
  div{
    padding:100px;
    width:auto;
    height:auto;
  }