*{
    padding:0;
    border-sizing:box-border;
    height: 1;
  }
 body{
    background:black;
    margin:100px;
    width:5O%;
    font-family : Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 13px;
      -webkit-font-smoothing: antialiased;
}
main{
    background-color : white;
    margin:auto;
    padding:100px;
    align-items:center;
    height: auto;
    display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  }
.grille{
      max-width: 1300px;
      width: 80%;
      height:auto;
      margin:30px auto;
    }
.grid-item1{
  width:150px;
  height:240px;
  background :DarkOrange ;
  padding:3%;
    margin:center;
    border-radius:3px;
    color:white;
}
.grid-item2{
  width:150px;
  height:240px;
  background :teal ;
  padding:3%;
    margin:center;
    color:white;
}
.grid-item3{
  width:150px;
  height:240px;
  background :#084343;
   padding:3%;
    margin:center;
    border-radius:3px;
    color:white;
}
.button1{
    color:white; 
    background: transparent;
    border: solid white;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  }
  .button2{
    color: white;
    background: transparent;
    border: solid white;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
  }
  .button3{
    color:white;
    background: transparent;
    border: solid white;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
  }
